body{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;

}

h1{

    font-size: 50px;
}
.orange{
    color: orange;
}
.flexible{

    display: flex;
    margin-top:100px;
}
.half{
    width: 50%;
    padding-right: 2%;
    
}
.half img{
    width: 80%;
}

.hire{

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400px;
    padding: 10px 30px;
    border-radius: 5px;
}
.first{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.second{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{

    box-shadow: 10px 10px 40px grey;
    width: 40%;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    
}
.new{
    color: orange;
}

.third{

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#one{
    border-left: 10px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
#two{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{

    text-align: center;
    padding-top: 50px;
}